{
  "extends": "standard",
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "after": false,
    "beforeEach": false,
    "afterEach": false
  },
  "rules": {
    "array-bracket-spacing": 0,
    "dot-notation": 0
  }
}